:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login-page {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;

    padding: 20px;

    width: 200px;
}