<div class="hostels-container">
    <div class="filter-btn">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="filterMenu">Filter</button>
        <mat-menu #filterMenu="matMenu" xPosition="before">
            <div class="menu-container">
                <h2><label id="example-radio-group-label">Sort direction</label></h2>
                <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                    [(ngModel)] = "sortingDirection"
                    (change)="setHostels()">
                    <mat-radio-button class="example-radio-button" value="0">
                        Ascending
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="1">
                        Descending
                    </mat-radio-button>
                </mat-radio-group>
                <h2>Filter options</h2>
                <mat-slide-toggle (change)="setHostels()" [(ngModel)]="hideHostelStatus">Hide empty hostels</mat-slide-toggle>
            </div>
        </mat-menu>
    </div>
    <mat-list>
        <div *ngFor="let hostel of hostels">
            <app-list-item-view [title]="'Hostel: ' + hostel.hostelNumber.toString()" 
                                [canExpand]="hostel?.floors?.length! > 0"
                                (onDelete)="deleteHostel(hostel.id)"
                                (onEdit)="editHostel(hostel)">
                <app-floors-view [floors]="hostel?.floors"></app-floors-view>
            </app-list-item-view>
            <mat-divider *ngIf="hostels?.at(-1) !== hostel"></mat-divider>
        </div>
    </mat-list>
    <div class="paginator-container">
        <button mat-raised-button color="primary" (click)="editHostel()">Create hostel</button>
        <mat-paginator [length]="paginationResult?.totalItems"
              [pageSize]="paginator?.pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page"
              (page)="setHostels()">
        </mat-paginator>
    </div>
</div>
