<form [formGroup]="sectionEditForm" (ngSubmit)="editSection()" novalidate>
    <mat-dialog-content>
        <h1 color="primary">{{title}}</h1>
        <mat-form-field appearance="outline" class="form-group">
            <mat-label>Section number</mat-label>
            <input type="text" matInput formControlName="sectionNumber" placeholder="Enter section number...">
            <mat-error *ngIf="sectionEditForm.controls['sectionNumber'].invalid">Section number is required</mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="section.id !==0 ? ACTION_UPDATE : ACTION_CREATE" color="primary" type="submit">Save</button>
        <button mat-raised-button [mat-dialog-close]="ACTION_CANCEL" color="basic">Cancel</button>
    </mat-dialog-actions>
</form>