<form [formGroup]="floorEditForm" (ngSubmit)="editFloor()" novalidate>
    <mat-dialog-content>
        <h1 color="primary">{{title}}</h1>
        <mat-form-field appearance="outline" class="form-group">
            <mat-label>Floor number</mat-label>
            <input type="text" matInput formControlName="floorNumber" placeholder="Enter floor number...">
            <mat-error *ngIf="floorEditForm.controls['floorNumber'].invalid">Floor number is required</mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="floor.id !==0 ? ACTION_UPDATE : ACTION_CREATE" color="primary" type="submit">Save</button>
        <button mat-raised-button [mat-dialog-close]="ACTION_CANCEL" color="basic">Cancel</button>
    </mat-dialog-actions>
</form>
