<div>
    <div>
        <button mat-raised-button color="primary" (click)="editRoom()" style="margin-left: 30px;" *ngIf="accountService.isAdmin()">Create room</button>
    </div>
    <mat-list>
        <div *ngFor="let room of rooms">
            <mat-list-item>
                <div (click)="roomLinkClicked(room.id)">
                    Room: {{room.roomNumber}}
                </div>
                <button mat-icon-button (click)="editRoom(room)" *ngIf="accountService.isAdmin()">
                    <mat-icon color="primary">edit</mat-icon>
                </button>
                <app-delete-btn (onDelete)="deleteRoom(room.id)" *ngIf="accountService.isAdmin()"></app-delete-btn>
            </mat-list-item>
            <mat-divider *ngIf="rooms?.at(-1) !== room"></mat-divider>
        </div>
    </mat-list>
</div>